<!DOCTYPE html>
<html ng-app="configControlsApp" ng-controller="mainCtrl">
<head lang="zh-cn">
    <meta charset="UTF-8">
    <title>控件配置</title>
</head>
<body>
<div ng-include="'../views/public/head.html'"></div>

<div class="container">
    <div class="row">
        <div class="col-md-3 model">壳体</div><div class="col-md-3 model">壳体</div><div class="col-md-3 model">壳体</div>
        <div class="col-md-3 model">壳体</div><div class="col-md-3 model">壳体</div><div class="col-md-3 model">壳体</div>
        <div class="col-md-3 model">壳体</div><div class="col-md-3 model">壳体</div><div class="col-md-3 model">壳体</div>
        <div class="col-md-3 model">壳体</div><div class="col-md-3 model">壳体</div><div class="col-md-3 model">壳体</div>
        <div class="col-md-3 model">壳体</div><div class="col-md-3 model">壳体</div><div class="col-md-3 model">壳体</div>
    </div>
</div>

<link rel="stylesheet" href="../sources/stylesheets/lib/tBootstrap.min.css">
<link rel="stylesheet" href="../sources/stylesheets/base.css">
<link rel="stylesheet" href="../sources/stylesheets/configControls.css">

<script type="text/javascript" src="../sources/javascripts/lib/angular.min.js"></script>
<script type="text/javascript" src="../sources/javascripts/lib/angular-animate.min.js"></script>
<script type="text/javascript" src="../sources/javascripts/lib/ui-bootstrap-tpls-1.3.3.min.js"></script>
<script type="text/javascript" src="../controller/contro_configControls.js"></script>
</body>
</html>