<!DOCTYPE html>
<html lang="en" ng-app="indexApp">

<head>
    <meta charset="utf-8"/>
    <title>welcome Engineer Mate</title>
    <script src="../sources/javascripts/lib/angular.min.js"></script>
    <link rel="stylesheet" href="../sources/stylesheets/lib/tBootstrap.min.css">
    <link rel="stylesheet" href="../sources/stylesheets/base.css">
    <link rel="stylesheet" href="../sources/stylesheets/index.css">
</head>

<body ng-controller="indexCtrl">
<div class="container">
    <!-- #include virtual = "../views/public/head.html" -->
    <div ng-include="'../views/public/head.html'"></div>


</div>
<script type="text/javascript" src="../controller/contro_index.js"></script>
</body>

</html>
