<!DOCTYPE html>
<html lang="en" ng-app="SmartPlant" ng-controller="SmartPlantCtrl">
<head>
    <meta charset="UTF-8">
    <title>智能工厂Demo</title>
</head>
<body>
<!-- 引入控制窗口头 -->
<div ng-include="'../views/public/head.html'"></div>
<div style="height: 30px;"></div>

<div class="container">
    <div class="row"></div>
    <div class="row">
        <div class="col-md-4">
            <small>拖拽设备到右侧即可查看设备实时数据</small>
            <ng-include src="'EquipmentList.afterloe'"></ng-include>
        </div>
        <div class="col-md-8 equipmentView" ondrop="drop(event,'source')" ondragover="allowDrop(event)">
            <ng-include src="'EquipmentView.afterloe'"></ng-include>
        </div>
    </div>
</div>

<link rel="stylesheet" href="../sources/stylesheets/lib/tBootstrap.min.css">
<link rel="stylesheet" href="../sources/stylesheets/base.css">
<link rel="stylesheet" href="../sources/stylesheets/frameWindow.css">
<link rel="stylesheet" href="../sources/stylesheets/smartPlant.css">

<script type="text/javascript" src="../sources/javascripts/lib/angular.min.js"></script>
<script type="text/javascript" src="../sources/javascripts/lib/angular-animate.min.js"></script>
<script type="text/javascript" src="../sources/javascripts/lib/ui-bootstrap-tpls-1.3.3.min.js"></script>
<script type="text/javascript" src="../controller/contro_SmartPlant.js"></script>

<script type="text/ng-template" id="EquipmentView.afterloe">
    <div class="jumbotron" ng-if="ip">
        <h1>智能设备 -- ip {{ip}}</h1>

        <p><img src="{{img}}" alt="工厂实景" class="thumbnail"/></p>

        <p ng-if="equipment">
            设备名 : {{equipment.equimentname}}<br/>
			白班运行时间: {{equipment.dayruntime}}<br/>
            白班停止时间: {{equipment.daystoptime}}<br/>
            夜班运行时间: {{equipment.nightruntime}}<br/>
            夜班停止时间: {{equipment.nightstoptime}}<br/>
            当前进给率: {{equipment.f}}<br/>
            主轴转速: {{equipment.s}}<br/>
        </p>
        <table ng-if="history" class="table table-hover">
            <thead>
            <tr>
                <td>设备名</td>
				<td>白班运行时间</td>
                <td>白班停止时间</td>
                <td>夜班运行时间</td>
                <td>夜班停止时间</td>
                <td>当前进给率</td>
                <td>主轴转速</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="tr in history">
                <td>{{tr.equimentname}}</td>
                <td>{{tr.dayruntime}}</td>
                <td>{{tr.daystoptime}}</td>
                <td>{{tr.nightruntime}}</td>
                <td>{{tr.nightstoptime}}</td>
                <td>{{tr.f}}</td>
                <td>{{tr.s}}</td>   
            </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination" ng-hide="!history">
                <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                </li>
                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                <li><a href="#">2 <span class="sr-only">(current)</span></a></li>
                <li><a href="#">3 <span class="sr-only">(current)</span></a></li>
                <li><a href="#">4 <span class="sr-only">(current)</span></a></li>
                <li><a href="#">5 <span class="sr-only">(current)</span></a></li>
                <li><a href="#">6 <span class="sr-only">(current)</span></a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
        <p><a class="btn btn-primary btn-lg" href="#" role="button" ng-if="equipment"
              ng-click="queryHistory()">查看历史数据</a><a class="btn btn-default btn-lg" href="#" role="button"
                                                     ng-if="history" ng-click="queryRealTime()">查看实时数据</a></p>
    </div>
</script>

<script type="text/ng-template" id="EquipmentList.afterloe">
    <div class="media" ng-repeat="equipment in equipmentList" data-ip="{{equipment.ip}}" draggable="true"
         ondragstart="drag(event)">
        <div class="media-left">
            <a href="#">
                <img class="media-object" src="../sources/equipment.png" alt="智能设备">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">{{equipment.name}}</h4>
            位于南方顺德市智能设备ip为 {{equipment.ip}}
        </div>
    </div>
</script>
</body>
</html>