.dropDomain {
    padding: 10px;
    border: 1px solid #e0e0e0;
    margin: 5px 0px 10px 0px;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 5px;
}

.dropPrompt {
    cursor: pointer;
}