.row > em {
  font-size: 14px;
  font-weight: bold;
  color: #3d9bff;
}
.indexApp_context .row {
  margin-top: 3%;
}
.irecommendApp {
  height: 350px;
}

.carouselImg {
  margin: auto;
  max-height: 330px;
}

.hoverCalendar {
  position: absolute;
  right: 0;
}
