body {
  font-family: "微软雅黑";
}
.appIcon {
  margin-top: 20%;
  margin-bottom: 35px;
}
.mate-input {
  border-style: none none solid none;
}

.checkbox > a {
  cursor:pointer
}
.form-group > button {
  width:100%;
  margin-top: 30px;
}
.form-group > a {
  cursor: pointer;
}
.balloon {
  margin: auto;
  position: absolute;
  top: 7%; left: 5%; right: 5%;
}
